In [52]:
import scrape
import json
import pandas as pd

In [3]:
#links = scrape.get_city('Bars', 'Austin', 'TX', page_limit=200)

In [4]:
# links file format: search_city_state
# with open('scrapes/bars_austin_tx.json', 'x') as fp:
#    json.dump(links, fp)

In [13]:
with open('scrapes/bars_austin_tx.json', 'r') as fp:
    bars_austin_tx = json.load(fp)

In [16]:
bars_austin_tx_df = pd.DataFrame(bars_austin_tx)

In [17]:
bars_austin_tx_df.head()

                names                                    links
0  The Roosevelt Room  /biz/the-roosevelt-room-austin?osq=Bars
1  Edge Rooftop + Bar    /biz/edge-rooftop-bar-austin?osq=Bars
2    Firehouse Lounge  /biz/firehouse-lounge-austin-3?osq=Bars
3        The Lost Lei        /biz/the-lost-lei-austin?osq=Bars
4           HandleBar           /biz/handlebar-austin?osq=Bars

In [21]:
# #4 bars in austin 
# bars_test = []
# for x in range(4): #first 
#     bars_test.append({bars_austin_tx['names'][x]:scrape.get_business(bars_austin_tx_df['links'][x], 500, True)})

Reviews loaded: 500

In [25]:
# #test business file
# with open('scrapes/bars_test.json', 'x') as fp:
#    json.dump(bars_test, fp)

In [26]:
with open('scrapes/bars_test.json', 'r') as fp:
    bars_test = json.load(fp)